body {
    background-color: #edadad;
}
/* Inicio estilização header */
header {
    border-bottom: 2px solid black;
}

header h1 {
    text-align: center;
    margin-bottom: 60px;
    margin-top: 40px;
    font-size: 40px;
}

#navigation {
    text-align: center;
    margin-bottom: 40px;
}

#navigation li{
    list-style: none;
    display: inline-block;
    text-align: center;
    width: 200px;
    margin-right: 160px;
}

#navigation li:nth-of-type(3){
    margin-right: 0;
}

.anchor-nav {
    text-align: center;
    width: 200px;
    display: inline-block;
    font-size: 18px;
    text-decoration: none;
    color: black;

}

.anchor-nav:hover {
    font-size: 20px;
}
/* Fim estilização header */

/* Inicio estilização article */
#article-1 {
    margin-top: 50px;
}

article h2{
    font-size: 1.95em;
}

#general-facts {
    padding: 40px;
    height: 500px;
}

#general-facts .inf {
    text-align: justify;
    padding: 40px;
    display: inline-block;
    margin-top: 0;
}

#general-facts div {
    display: inline-block;
    width: 700px;
}

#general-facts img{
    left: px;
    float: right;
}

thead, tbody{
    display: inline-block;
}

table thead tr{
    display: inline-grid;
}

table tbody tr{
    display: inline-grid;
    left: 150px;
}