.mario {
    width: 150px;
    display: block;
    position: absolute;
    z-index: 1;
}

.gumba {
    width: 100px;
    margin-left: 30px;
    margin-right: 300px;
    position: absolute;
    top: 295px;
    z-index: 2;
}

.browser {
    width: 250px;
    position: absolute;
    left: 267px;
    top: 85px;
}

.speach {
    font-size: 25px;
    width: 280px;
    position: absolute;
    z-index: 2;
    left: 10px;
    top: 40px;
}

.balun {
    position: absolute;
    z-index: 1;
}

.speaks {
    position: absolute;
    top: 120px;
    left: 300px
}