.mario {
    width: 150px;
    display: block;
}

.gumba {
    width: 100px;
    margin-left: 30px;
    display: block;
}

.browser {
    width: 250px;
}

.speach {
    font-size: 25px;
}

.balun {

}