.mario {
    width: 150px;
    position: absolute;
    z-index: 1;
    left: 100px;
}

.gumba {
    width: 100px;
    position: absolute;
    top: 265px;
    left: 160px;
    z-index: 2;
}

.browser {
    width: 250px;
    position: absolute;
    left: 267px;
    top: 85px;
}

.speach {
    font-size: 25px;
    width: 280px;
    position: absolute;
    z-index: 2;
    left: 10px;
    top: 40px;
}

.balun {
    position: absolute;
    z-index: 1;
}

.speaks {
    position: absolute;
    top: 120px;
    left: 600px
}