ol li{
    background-color: yellow;
    margin: 5px;
}

ol li:nth-of-type(even) {
    color: green;
}

ol li:nth-of-type(odd){
    text-transform: uppercase;
}

.text-red {
    color: red;
}

.text-red em {
    font-size: 40px;
    border: 1px solid black;
}

li {
    font-size: 20px;
}

li em {
    font-weight: bold;
}

.lang-prog-list li:nth-of-type(-n+3){
    color: blue;
}

.ally-list li a{
    text-decoration: none;
}

.ally-list li a:hover {
    font-weight: bold;
}

.ally-list li a[href*="stackoverflow"]:hover {
    color: orange;
}

.ally-list li a[href*="w3schools"]:hover {
    color: green;
}

.ally-list a[href*="mozilla"]:hover{
    color: black;
}

.ally-list li a[href*="devdocs"]:hover {
    color: yellow;
}

.ally-list li a[href*="trybe"]:hover {
    color: green;
}

/* .bg-pink {
    background-color: pink;
} */

/* li[id="java"], li[id="java-script"]{
    background-color: pink;
} */

.lang-prog-list li[id*="java"]{
    background-color: pink;
}