.bg-yellow {
    background-color: yellow;
    margin: 5px;
}

ol li:nth-of-type(even) {
    color: green;
}

ol li:nth-of-type(odd){
    text-transform: uppercase;
}

.bg-red {
    color: red;
}

.bg-red em {
    font-size: 40px;
    border: 1px solid black;
}

li {
    font-size: 20px;
}

li em {
    font-weight: bold;
}

.lang-prog-list li:nth-of-type(1), ul li:nth-of-type(2), ul li:nth-of-type(3){
    color: blue;
}

.ally-list li:nth-of-type(1):hover {
    background-color: orange;
}

.ally-list li:nth-of-type(2):hover {
    background-color: green;
}

.ally-list li:nth-of-type(3):hover {
    background-color: black;
}

.ally-list li:nth-of-type(4):hover {
    background-color: yellow;
}

.ally-list li:nth-of-type(5):hover {
    background-color: green;
}